/* ============================================================
 * Components: Progress-Bar
 * ============================================================
 *
 * Lorem fistrum a gramenawer te va a hasé pupitaa hasta luego Lucas no te digo trigo por no llamarte
 * Rodrigor quietooor tiene musho peligro ese pedazo de.
 * Te voy a borrar el cerito torpedo me cago en tus muelas al ataquerl jarl tiene musho peligro.
 *
 */

// ============================================================
// Variables

$c-menu__background-color: #acacac;
$c-menu__height: 15px !default;
$c-menu__margin: auto !default;
$c-menu__padding: 0 !default;
$c-menu__font-size: 16px !default;
$c-menu__color: #FFF !default;
$c-menu__line-height: 30 !default;
$c-menu__border: 2px solid #2e3233 !default;
$c-menu__z-index: 2 !default;

// ============================================================
// CSS Output


.c-menu__container{
  margin:$c-menu__margin;
  font-size:$c-menu__font-size;
  line-height:$c-menu__line-height;
  border:$c-menu__border;
  color: $c-menu__color;
  position:relative;
  z-index:$c-menu__z-index;
  &:before{
    background-color:#e7e2e6;
    content:"";
    position:absolute;
    top:-6px;
    left:-6px;
    width:calc(100% + 12px);
    height:calc(100% + 12px);
    z-index:0;
    display:block;
    box-shadow: inset -3px -3px 0 0 #4a4a4a, inset 3px 3px 0 0 #949597;
    -webkit-clip-path: polygon(9px 0, calc(100% - 9px) 0, 100% 9px, 100% calc(100% - 9px), calc(100% - 9px) 100%, 9px 100%, 0 calc(100% - 9px), 0 9px);
    clip-path: polygon(9px 0, calc(100% - 9px) 0, 100% 9px, 100% calc(100% - 9px), calc(100% - 9px) 100%, 9px 100%, 0 calc(100% - 9px), 0 9px);
  }
  .c-menu__content {
    height: auto;
    position: relative;
    padding: 20px;
    background: #0355ab;
    background: -moz-linear-gradient(-45deg, #0355ab 0%, #010027 100%);
    background: -webkit-linear-gradient(-45deg, #0355ab 0%,#010027 100%);
    background: linear-gradient(135deg, #0355ab 0%,#010027 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0355ab', endColorstr='#010027',GradientType=1 );
    box-shadow: inset -3px -3px 0 0 #929790, inset 3px 3px 0 0 #4d484c;
    -webkit-clip-path: polygon(5px 0, calc(100% - 5px) 0, 100% 5px, 100% calc(100% - 5px), calc(100% - 5px) 100%, 5px 100%, 0 calc(100% - 5px), 0 5px);
    clip-path: polygon(5px 0, calc(100% - 5px) 0, 100% 5px, 100% calc(100% - 5px), calc(100% - 5px) 100%, 5px 100%, 0 calc(100% - 5px), 0 5px);
  }
}